[req]
distinguished_name = dn
x509_extensions    = v3_req
prompt             = no

[dn]
C  = KR
O  = robot_arm_vr
CN = 10.71.87.59

[v3_req]
basicConstraints = CA:FALSE
keyUsage         = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName   = @alt_names

[alt_names]
IP.1  = 10.71.87.59
IP.2  = 127.0.0.1
DNS.1 = localhost
